[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "*"
python-jose = "*"
clerk-backend-api = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
pymongo = "*"
boto3 = "*"
sentence-transformers = "*"
torch = "*"
mistralai = "*"
requests = "*"
qdrant-client = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
ruff = "*"
mypy-boto3-ssm = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
